<h1 class="text-center">Votre compte a été vérifié par notre équipe</h1>
<p>Vous pouvez dès à présent vous connecter chez Unipets: <a href="{{ absolute_url(path('account_login')) }}">
    Se connecter
    </a>
</p>