{% extends "base.html.twig" %}
{% block meta_description %}
         <meta name="description" content="Page de modification du mot de passe" />   
        {% endblock %}
{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <div class="container tablet">
        {% include "partials/flash.html.twig" %}
    <div class="p-3">
        <h2 class="text-center pt-3">Modification du mot de passe</h2>
        {{form_start(form)}}
        {{form_widget(form)}}
        <div class="row justify-content-center pb-3">
                <div class="col pt-3">
                    <button type="submit" class="btn btn-success d-block mx-auto my-0">Modifier votre mot de passe</button>
                </div> 
            </div>
    </div>   
        {{form_end(form)}} 
    </div>
{% endblock %}