{% extends "base.html.twig" %}
{% block meta_description %}
    <meta name="description" content="Découvrez nos politique de confidentialité disponible sur notre site web" />   
{% endblock %}
{% block title %}Politique de confidentialité{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center py-3">Politique de confidentialité</h1>
        <p class="text-justify px-3 mb-0">
            Notre politique de confidentialité explique nos principes en matière de collecte, de traitement et de stockage de vos informations.
        </p>
        <h4 class="text-center py-3 red"><strong>Protection des données</strong></h4> 
            <p class="text-justify px-3 mb-0">
                - Conformément à la loi « Informatique et Libertés » du 6 janvier 1978, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Il vous suffit de nous contacter en nous indiquant vos nom, prénom et mail, sur nos différents réseaux sociaux disponibles en pied de page.
                <br>
                <br>
                - Aucune des informations prélevées ne sera ni revendue, ni communiquée à des tiers.
                <br>
                <br>
                - Nous vous informons, par ailleurs, que des cookies, c’est-à-dire des fichiers destinés à faciliter la navigation par l’enregistrement de logs de connexion, enregistrent certaines informations qui sont stockées dans la mémoire de votre disque dur. <br>
                Ces cookies ne sont pas destinés à collecter des informations personnelles sur le profil ou le comportement de l’utilisateur.
            </p>
            <h4 class="text-center py-3 red"><strong>Que sont les cookies ?</strong></h4> 
            <p class="text-justify px-3 mb-0 pb-4">
                Les cookies sont de petits morceaux de données, stockés dans des fichiers texte, qui sont stockés sur votre ordinateur ou un autre appareil lorsque des sites Web sont chargés dans un navigateur. Ils garantissent une expérience cohérente et efficace pour les visiteurs et exécutent des fonctions essentielles telles que permettre aux utilisateurs de s'inscrire et de rester connectés. En l'occurence chez nous, ils vous permettent de pouvoir vous proposer des animations orientés à vos envie. De plus, cela peut vous servir lorsque vous revenez sur notre site, cela facilitera votre connexion sur notre site. Nous tenons à précisé que les cookies sont conservés pendant une durée maximale d'un ans.
            </p>
    </div> 
{% endblock %}