{% extends "base.html.twig" %}
{% block meta_description %}
    <meta name="description" content="Demande de réinitialisation du mot de passe" />   
{% endblock %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <div class="container tablet">
        <div class="py-4 px-3">    
            <h1 class="text-center py-3">Mot de passe oublié</h1>
            {{ form_start(forgotPasswordFormStep1) }}
            {{form_widget(forgotPasswordFormStep1)}}
            <div class="row justify-content-center pb-3">
                <div class="col">
                    <button type="submit" class="btn btn-success d-block mx-auto my-0">Effectuer la demande</button>
                </div> 
            </div>
            {{form_end(forgotPasswordFormStep1)}}
        </div>
    </div>
{% endblock %}